@import url(http://fonts.googleapis.com/css?family=Raleway:600,700,300);
img {
  max-width: 100%;
}
a {
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}
li i.fa {
  margin-right: 10px;
}
h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
.intro-container {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  text-align: center;
  padding: 3.5em 0;
  background: url('../images/intro-bg.jpg') fixed;
  background-size: cover;
  color: #FFF;
  text-shadow: 2px 2px 6px #000;
}
.intro-container h1,
.intro-container h2,
.intro-container h3,
.intro-container h4,
.intro-container h5 {
  margin: 0;
  line-height: 1;
}
@media screen and (max-width: 991px) {
  .intro-container h1,
  .intro-container h2,
  .intro-container h3,
  .intro-container h4,
  .intro-container h5 {
    line-height: 1.2;
  }
}
.intro-container a {
  color: #FFF;
}
.intro-container a:hover {
  color: #FFF;
}
.intro-container .intro-header {
  display: block;
  font-size: 160%;
}
.intro-container .intro-block {
  display: block;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .intro-container {
    padding: 1.5em 0;
  }
}
footer.intro-container {
  background-position: 0 100%;
  padding: 1.5em 0;
  text-align: left;
  font-size: 24px;
}
footer ul {
  list-style-type: none;
}
#mainMenu {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 0;
}
#mainMenu.navbar-fixed-top {
  border-bottom: 1px solid #882a54;
  background-color: #882a54;
  border-color: #882a54;
  color: #FFF;
}
#mainMenu.navbar-fixed-top a {
  color: #FFF;
}
#mainMenu.navbar-fixed-top a:hover {
  box-shadow: 0px -3px 0px #ffffff inset;
}
#mainMenu.navbar-fixed-top .active a {
  box-shadow: 0px -3px 0px #ffffff inset;
}
#mainMenu.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.navbar-default {
  border-bottom: 1px solid #CCC;
}
.navbar-default a {
  color: #b0b0b0;
}
.navbar-default a:hover {
  color: #882a54;
  box-shadow: 0px -3px 0px #882a54 inset;
}
.navbar-default .active a {
  color: #882a54;
  box-shadow: 0px -3px 0px #882a54 inset;
}
.navbar-default .navbar-toggle {
  padding: 18px 15px;
  border: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #882a54;
}
.navbar-default .navbar-toggle.collapsed:hover .icon-bar {
  background-color: #882a54;
}
.navbar-default .navbar-toggle.collapsed .icon-bar {
  background-color: #b0b0b0;
}
#main-content {
  padding: 30px 0 0 0;
}
.box-item {
  display: inline-block;
  width: 100%;
  border: 1px solid #CCC;
  margin-bottom: 30px;
}
.box-item:hover .box-text {
  color: #333333;
}
.box-item .btn {
  border-bottom: none;
}
.box-item .btn.pull-right {
  border-right: none;
}
.box-item .box-image {
  box-shadow: 1px 1px 1px #fff inset;
  border-bottom: 1px solid #ccc;
}
.box-item .box-text {
  padding: 15px;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
  color: #777777;
}
#lightbox {
  position: absolute;
  top: -200%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  display: none;
}
#lightbox.show {
  position: fixed;
  z-index: 1000;
  display: inline-block;
  padding: 35px 20px;
  width: 80%;
  height: auto;
  left: 10%;
  top: 5%;
  bottom: 5%;
  background-color: #fff;
  border: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 2px;
}
#lightbox > .container {
  max-width: 100%;
  margin-bottom: 25px;
}
#lightbox .lightbox-exit {
  z-index: 1001;
  position: fixed;
  top: 5%;
  right: 10%;
  border-top: 0;
  border-right: 0;
}
#lightbox .lightbox-exit .fa {
  margin-right: 5px;
}
#lightbox .lightbox-exit:hover {
  cursor: pointer;
}
.lightbox-active {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
}
.lightbox-active:after {
  background-color: #000;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  padding: 1000em;
  margin: -1000em;
}
@media screen and (max-width: 1199px) {
  #lightbox.show {
    width: 90%;
    left: 5%;
  }
  .lightbox-exit {
    right: 5% !important;
  }
}
