
.icon-home:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-css3:before { content: '\e802'; } /* '' */
.icon-html5:before { content: '\e803'; } /* '' */
.icon-jquery:before { content: '\e804'; } /* '' */
.icon-joomla:before { content: '\e805'; } /* '' */
.icon-resize-full:before { content: '\e806'; } /* '' */
.icon-wordpress:before { content: '\e807'; } /* '' */
.icon-resize-full-1:before { content: '\e808'; } /* '' */
.icon-resize-small:before { content: '\e809'; } /* '' */